.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.canvas-parent{
    width: 50%;
    background: #f0efef;
}

.panel-parent{
    width: 50%;
    height: 100vh;
}

/* Canvas CSS */


.canvas-container canvas {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Panel css */

.panel-parent .panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-parent .panel-container .panel-heading{
    width: 100%;
    margin-top: 30px;
    border: 10px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.panel-heading div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-parent .panel-container .panel-content {
    width: 100%;
border: 10px solid blue;
}